/* ***proposed*** color theme theme:
    #080708
    #3772ff
    #df2935
    #fdca40
    #e6e8e6

    hover effect: saturation reduced by 35
    */

/* General style */

:root {
    --box-background-color: #e6e8e6;
    --header-background-color: #fdca40;
    --footer-background-color: #fdca40;
    --header-hover-color: #fce197;
    --button-color: #3772ff;
    --link-color: #3772ff;
    --text-color: #080708;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--text-color, #000);
    height: 100%;
    margin: 0;
}

a {
    color: var(--link-color);
}

/* Header */

header {
    top: 0;
    position: sticky;
    background-color: var(--header-background-color);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header>img {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}

header>a {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}

header>a:hover {
    background-color: var(--header-hover-color);
}

/* Footer */

footer {
    background-color: var(--footer-background-color);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    user-select: none;
    margin-top: auto;
}

footer>strong {
    padding: 10px;
    margin: 10px;
}

/* TODO: should the footer be visible (even if the content is larger then the screen and needs to be scrolled?)
   TODO: responsive resizing */

/* login.html */

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    background-color: var(--box-background-color);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.loginContainer>h1 {
    margin: 10px;
}

.loginInput {
    margin: 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.loginButton {
    background-color: var(--button-color);
    font-weight: bold;
    margin-bottom: 20px;
}

/* --------------   index.html -------------------  */

div.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.post:not(.header, .body) {
    background-color: var(--box-background-color);
    border-radius: 10px;
    text-align: start;
    padding: 20px;
    margin: 10px;
    width: 400px;

    & div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & div.post.body:not(:has(p))+.thumbs.up {
        margin-top: 10px;
    }

    & .post.body:has(img) {
        flex-direction: column;
    }

    & .post.header {
        user-select: none;
    }
}

/* --------------- addPost.html  -----------------------*/


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.post-container {
    background-color: var(--box-background-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


form>label {
    margin: 10px 0;
    font-weight: bold;
}

form>textarea,
form>input[type="file"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    resize: none;
}

form>button {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

form>button:hover {
    background-color: #2c5edb;
    
}