/* ***proposed*** color theme theme:
    #080708
    #3772ff
    #df2935
    #fdca40
    #e6e8e6

    hover effect: saturation reduced by 35
    */

/* General style */

:root {
    --box-background-color: #ffffff;
    --header-background-color: #b0c4e3;
    --footer-background-color: #b0c4e3;
    --hover-color: #678cc2;
    --button-color: #1344d6;
    --link-color: #1344d6;
    --text-color: #080708;
    --background-color: #e6e8e6;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--text-color, #000);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--background-color);
}

h1 ~ a {
    color: var(--link-color);
}

/* Header */

header {
    top: 0;
    position: sticky;
    background-color: var(--header-background-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
}

header>img {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}

header>a {
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}

header>a:hover {
    background-color: var(--hover-color);
}

/* Footer */

footer {
    background-color: var(--footer-background-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: center;
    user-select: none;
    margin-top: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
}

footer>strong {
    padding: 10px;
    margin: 10px;
}

/* login.html */

.loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    background-color: var(--box-background-color);
    border-radius: 10px;
    text-align: center;
    padding: 10px 10px 20px 10px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
}

.loginContainer>h1 {
    margin: 10px;
}

.loginInput {
    margin: 5px;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

.loginButton {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.loginButton:hover {
    background-color: var(--hover-color);
}

@media (max-width: 330px){
    .loginContainer {
        border-radius: 0px;
    }
}

/* --------------   index.html -------------------  */

div.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.post:not(.header, .body) div:not(.thumbs.up, .header.person){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.header.person {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    
    img {
        width: 30px;
        height: 30px;
    }
}

div.thumbs.up {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;

    & p {
        margin: 0px;
    }
}

 div.post.header > div p{
    flex: 1;
    display: flex;
}

div.post:not(.header, .body) {
    background-color: var(--box-background-color);
    border-radius: 10px;
    text-align: start;
    padding: 20px;
    margin: 10px;
    width: 600px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);

    & div.post.body:not(:has(p))+.thumbs.up {
        margin-top: 10px;
    }

    & .post.body:has(img) {
        flex-direction: column;
    }

}

@media (max-width: 700px) {
    div.post:not(.header, .body) {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
        & .post.header {
            margin-left: 5px;
            margin-right: 5px;
        }

        & p {
            margin-left: 5px;
            margin-right: 5px;
        }
        & .thumbs.up {
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
        }

        div.post.body > img {
            border-radius: 0px;
        }
    }
}

/* --------------- addPost.html  -----------------------*/

.post-container {
    background-color: var(--box-background-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);

    & h1 {
        text-align: center;
    }

    & div {
        display: flex;
        justify-content: center;
    }
}


form>label {
    margin: 10px 0;
    font-weight: bold;
}

#post-body,
form>input[type="file"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    resize: none;
    padding: 5px;
    border: 1px solid black
}

form>input[type="file"]::file-selector-button {
    background-color: var(--hover-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#post-body {
    display: flex;
}

@media (max-width: 440px) {
    .post-container{
        border-radius: 0px;
    }
}

form>div>button {
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

form>div>button:hover {
    background-color: var(--hover-color);
}